.contact {
  display: flex;
  justify-content: center;
  padding: 80px 100px 100px;
  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 15px;
  }

  &__column {
    width: 50%;
    @include  tablet {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__title {
    font-family: $font-raleway;
    font-size: 3.0625rem;
    color: $color-black;
    line-height: 3.5625rem;
  }
  &__instruction {
    line-height: 1.375rem;
    margin-top: 22px;
    margin-bottom: 42px;
    @include tablet {
      margin: 5px 0 35px;
    }
  }
  &__details {
    display: flex;
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item {
    text-decoration: none;
    color: $color-grey;
    line-height: 1.375rem;
    font-weight: 600;
    padding-right: 20px;
  }
}
