.statistics {
  margin-top: 100px;
  @include mobile {
    margin-top: 50px;
  }
  &__container {
    display: flex;
    max-width: 800px;
    margin: 100px auto;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
    }
  }
  &__single {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &:nth-child(1) .statistics__circle {
      background-color: $color-redish;
    }
    &:nth-child(1) .statistics__icon {
      top: 0;
      left: 45%;
    }
    &:nth-child(2) .statistics__circle {
      background-color: $color-primary;
    }
    &:nth-child(2) .statistics__icon {
      top: 25%;
      left: 35%;
    }
    &:nth-child(3) .statistics__circle {
      background-color: $color-green;
    }
    &:nth-child(3) .statistics__icon {
      top: 6px;
      left: 50%;
    }
    @include mobile {
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
  }
  &__icon {
    position: absolute;
  }
  .statistics__number {
    font-family: $font-raleway;
    font-weight: 800;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 14px;
    color: $color-black;
  }
  .statistics__description {
    font-family: $font-raleway;
    font-size: 1.0625rem;
    color: $color-grey;
    text-align: center;
    margin-top: 19px;
  }
}

